@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-gradient-center {
		background: radial-gradient(circle, rgba(59, 130, 246, 0.15), rgba(59, 130, 246, 0));
		backdrop-filter: blur(10px); /* Apply the blur effect */
	}
}

::-webkit-scrollbar {
	display: none;
}

/* Menghilangkan scrollbar pada Firefox */
* {
	scrollbar-width: none; /* Firefox */
}
